.git
.git/**/*
gen
gen/**/*
tests
tests/**/*
docker
__pycache__
__pycache/**/*
**/prototype
**/prototype/**/*
project/yolo/data
project/yolo/data/**/*
prototype
prototype/**/*
venv
venv/**/*
.idea
.idea/**/*